@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar {
    width: 100%; /* Set width of the scrollbar container */
    height: 100%; /* Set height of the scrollbar container */
    overflow-y: auto; /* Enable vertical scrollbar */
    position: relative; /* Needed for absolute positioning of scrollbar */
  }
  
  .scroll-content {
    /* Set width of the content to be scrolled */
    width: 100%;
  }
  
  /* Custom scrollbar style */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Set width of the scrollbar */
    height:10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Set track color */
  }
  
  
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #eb7855; /* Set thumb color */
    border-radius: 5px; /* Set border radius */
  }
  
  /* Optional: Hover effect for thumb */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background:  #e24717; /* Change thumb color on hover */
  }